<table class="table" style="margin-top: 2px; width: 1145px; text-align: center;">
    <thead class="table-secondary">
    <tr>
        <th scope="col">품목코드</th>
        <th scope="col">품목도면</th>
        <th scope="col">품목명</th>
        <th scope="col">가로</th>
        <th scope="col">세로</th>
        <th scope="col">높이</th>
        <!--                <th scope="col">도면파일</th>-->
        <th scope="col">재질</th>
<!--        <th scope="col">삭제</th>-->
    </tr>
    </thead>
    <tbody>
    <th:block th:if="${itemList.totalElements != 0}">
        <tr th:each="item:${itemList}">
            <!-- for문돌리기 -->

            <td scope="col" th:text="${item.itemCode}"></td>
            <td scope="col">
                <a th:href="@{/part1/download(downloadfile=${item.itemFile})}" th:name="downloadfile" th:text="${item.product.productName}+'_'+${item.itemName}+' '+'도면'"></a>
            </td>
            <td scope="col" th:text="${item.itemName}"></td>
            <td scope="col" th:text="${item.itemLength}"></td>
            <td scope="col" th:text="${item.itemWidth}"></td>
            <td scope="col" th:text="${item.itemHeight}"></td>
            <!--                  <th scope="col" th:text = "${ItemList.itemFIle}">-->
            <td scope="col" th:text="${item.itemMaterial}"></td>
<!--            <input th:name="itemIndex" th:value="${item.itemIndex}" th:type="hidden">-->
<!--            <td><a th:href="@{deleteItem(itemIndex=${item.itemIndex})}">삭제</a></td>-->
        </tr>
    </th:block>
    <th:block th:if="${itemList.totalElements == 0}">
        <tr>
            <td colspan="6">품목 내역이 없습니다.</td>
        </tr>
    </th:block>
    </tbody>
</table>

<div class="buttons_wrap" style="margin: 30px auto; text-align: center">
    <tr class="pagination"
        th:with="start=${(itemList.number div 10)*10 + 1},
           last=${(start + 9 < itemList.totalPages ? start + 9 : itemList.totalPages)}">
        <!--한 화면에 몇 페이지까지 보여줄지 계산한 코드-->
        <td>
            <a th:onclick="|javascript:itemListAjax(1)|" aria-label="First">
                <!--onclick은 비동기식이라서 ajax 거쳐서 감, itemListAjax는 js안에 펑션 이름이랑 매칭-->
                <span aria-hidden="true">첫 페이지</span> <!--첫 페이지 클릭 시 1페이지가 나오게 하는거-->
            </a>
        </td>

        <td th:class="${itemList.first} ? 'disabled'">
            <a th:onclick="${itemList.first} ? '' : 'javascript:itemListAjax('+${itemList.number}+')'"
               aria-label="Previous">
                <span aria-hidden="true">&lt;</span>
            </a> <!--삼항 연산자를 통해 첫번째 페이지면 그대로 냅두고 그게 아니라면 해당 페이지itemListAjax보다 -1 페이지로 가게끔 (저 number에 -1값으로 자동으로 되어있음)-->
            <!--클릭 시 아작스 호출해서 벡엔드로 값을 전달-->
        </td>

        <th:block th:if="${last != 0}"> <!--첫페이지가 아니면-->
            <td th:each="page: ${#numbers.sequence(start, last)}"
                th:class="${page == itemList.number + 1} ? 'active'">
                <a th:text="${page}" th:onclick="|javascript:itemListAjax(${page})|"></a>
                <!--페이지 개수만큼 each문을 돌려서 페이지를 표시 >> 5페이지면 5번돌려서 5페이지 나오게 함-->
            </td>
        </th:block>
        <th:block th:if="${last == 0}"> <!--첫페이지면-->
            <td class="active">
                <a th:text="1" th:onclick="|javascript:itemListAjax(1)|"></a> <!--무조건 숫자 1만 나오게-->
            </td>
        </th:block>

        <td th:class="${itemList.last} ? 'disabled'">
            <a th:onclick="${itemList.last} ? '' : 'javascript:itemListAjax('+${itemList.number+2}+')'"
               aria-label="Next">
                <span aria-hidden="true">&gt;</span> <!--삼항 연산자를 통해 마지막 페이지면 그대로 냅두고 그게 아니라면 해당 페이지보다 +1 페이지로 가게끔-->
            </a>
        </td>

        <td>
            <a th:onclick="|javascript:itemListAjax(${itemList.totalPages})|" aria-label="Last">
                <!--마지막 페이지 클릭 시 마지막 페이지가 나오게 하는거-->
                <span aria-hidden="true">마지막 페이지</span>
            </a>
        </td>
    </tr>
</div>
