<table class="table table-bordered text-center">
    <colgroup>
        <col width="10%">
        <col width="20%">
        <col width="20%">
        <col width="20%">
        <col width="20%">
        <col width="10%">
    </colgroup>
    <thead>
    <tr class="table-secondary">
        <th scope="col">조달계획번호</th>
        <th scope="col">업체명</th>
        <th scope="col">품목명</th>
        <th scope="col">조달납기일</th>
        <th scope="col">조달수량</th>
        <th scope="col">선택</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:if="${procurementPlanList.totalElements != 0}" th:with="start=${(procurementPlanList.number * procurementPlanList.size) + 1}">
        <tr th:each="procurementPlan, status:${procurementPlanList}" th:id="index + ${procurementPlan.planNum}">
            <td th:text="'PL-' +${procurementPlan.planNum}"></td>
            <td th:text="${procurementPlan.contractItem.company.comName}"></td>
            <td th:text="${procurementPlan.contractItem.item.itemName}"></td>
            <td th:text="${procurementPlan.planDate}"></td>
            <td id="planCount" th:text="${procurementPlan.planCount}"></td>
            <td>
                <button th:if="${procurementPlan.orders == null}" type="button" class="btn btn-sm btn-primary" th:onclick="|javascript:orderChoiceAjax(${procurementPlan.planNum},${procurementPlan.planNum},${procurementPlan.planCount})|">선택</button>
            </td>
        </tr>
    </th:block>
    <th:block th:if="${procurementPlanList.totalElements == 0}">
        <tr>
            <td colspan="5">조달 계획이 없습니다.</td>
        </tr>
    </th:block>
    </tbody>
</table>

<div class="buttons_wrap" style="margin: 30px auto; text-align: center">
    <tr class="pagination"
        th:with="start=${(procurementPlanList.number div 10)*10 + 1},
           last=${(start + 9 < procurementPlanList.totalPages ? start + 9 : procurementPlanList.totalPages)}">
        <!--한 화면에 몇 페이지까지 보여줄지 계산한 코드-->
        <td>
            <a th:onclick="|javascript:procurementPlanListAjax(1)|" aria-label="First">
                <!--onclick은 비동기식이라서 ajax 거쳐서 감, companyListAjax는 js안에 펑션 이름이랑 매칭-->
                <span aria-hidden="true">첫 페이지</span> <!--첫 페이지 클릭 시 1페이지가 나오게 하는거-->
            </a>
        </td>

        <td th:class="${procurementPlanList.first} ? 'disabled'">
            <a th:onclick="${procurementPlanList.first} ? '' : 'javascript:procurementPlanListAjax('+${procurementPlanList.number}+')'"
               aria-label="Previous">
                <span aria-hidden="true">&lt;</span>
            </a> <!--삼항 연산자를 통해 첫번째 페이지면 그대로 냅두고 그게 아니라면 해당 페이지보다 -1 페이지로 가게끔 (저 number에 -1값으로 자동으로 되어있음)-->
            <!--클릭 시 아작스 호출해서 벡엔드로 값을 전달-->
        </td>

        <th:block th:if="${last != 0}"> <!--첫페이지가 아니면-->
            <td th:each="page: ${#numbers.sequence(start, last)}"
                th:class="${page == procurementPlanList.number + 1} ? 'active'">
                <a th:text="${page}" th:onclick="|javascript:procurementPlanListAjax(${page})|"></a>
                <!--페이지 개수만큼 each문을 돌려서 페이지를 표시 >> 5페이지면 5번돌려서 5페이지 나오게 함-->
            </td>
        </th:block>
        <th:block th:if="${last == 0}"> <!--첫페이지면-->
            <td class="active">
                <a th:text="1" th:onclick="|javascript:procurementPlanListAjax(1)|"></a> <!--무조건 숫자 1만 나오게-->
            </td>
        </th:block>

        <td th:class="${procurementPlanList.last} ? 'disabled'">
            <a th:onclick="${procurementPlanList.last} ? '' : 'javascript:procurementPlanListAjax('+${procurementPlanList.number+2}+')'"
               aria-label="Next">
                <span aria-hidden="true">&gt;</span> <!--삼항 연산자를 통해 마지막 페이지면 그대로 냅두고 그게 아니라면 해당 페이지보다 +1 페이지로 가게끔-->
            </a>
        </td>

        <td>
            <a th:onclick="|javascript:procurementPlanListAjax(${procurementPlanList.totalPages})|" aria-label="Last">
                <!—마지막 페이지 클릭 시 마지막 페이지가 나오게 하는거—>
                <span aria-hidden="true">마지막 페이지</span>
            </a>
        </td>
    </tr>
</div>