<div id="orderList">
    <table class="table table-bordered text-center">
        <colgroup>
            <col width="30%">
            <col width="70%">
        </colgroup>
        <tbody>
        <tr>
            <td style="font-weight: bold;">발주번호</td>
            <td th:text="${orders == null} ? '-' : 'PN-'+${orders.orderNum}"></td>
        </tr>
        <tr>
            <td style="font-weight: bold;">발주일자</td>
            <td id="orderDate22" th:text="${orders == null} ? '-' : ${orders.orderDate}"></td>
        </tr>
        <tr>
            <td style="font-weight: bold;">입고예정일자</td>
            <td id="receiveDueDate" th:text="${orders == null} ? '-' : ${orders.receiveDueDate}"></td>
        </tr>
        <tr>
            <td style="font-weight: bold;">업체명</td>
            <td th:text="${orders == null} ? '-' : ${orders.procurementPlan.contractItem.company.comName}"></td>
        </tr>
        <tr>
            <td style="font-weight: bold;">사업자번호</td>
            <td th:text="${orders == null} ? '-' : ${orders.procurementPlan.contractItem.company.businessId}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div id="orderList">
    <table class="table table-bordered text-center">
        <colgroup>
            <col width="30%">
            <col width="40%">
            <col width="30%">
        </colgroup>
        <tbody>
        <tr class="table-secondary">
            <td style="font-weight: bold;">품목코드</td>
            <td style="font-weight: bold;">품목명</td>
            <td style="font-weight: bold;">발주수량</td>
        </tr>
        <tr>
            <td th:text="${orders == null} ? '-' : ${orders.procurementPlan.contractItem.item.itemCode}"></td>
            <td th:text="${orders == null} ? '-' : ${orders.procurementPlan.contractItem.item.itemName}"></td>
            <td th:text="${orders == null} ? '-' : ${orders.orderCount}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div id="orderList">
    <input type="hidden" id="receiveDueDate1" name="receiveDueDate" th:value="${orders == null} ? 0 : ${orders.receiveDueDate}">
    <input type="hidden" id="orderInfo" name="orderInfo" th:value="${orders == null} ? 0 : ${orders.orderInfo}">
    <input type="hidden" id="orderNum" name="orderNum" th:value="${orders == null} ? 0 : ${orders.orderNum}">
    <input type="hidden" id="orderCount" name="orderCount" th:value="${orders == null} ? 0 : ${orders.orderCount}">
    <input type="hidden" id="progressCount" name="progressCount" th:value="${progress == null} ? 1 : ${progress.progressCount + 1}">
    <table class="table table-bordered text-center">
        <colgroup>
            <col width="30%">
            <col width="40%">
            <col width="30%">
<!--            <col width="20%">
            <col width="20%">-->
        </colgroup>
        <tbody>
        <tr class="table-secondary" style="font-weight: bold;">
            <td>차수</td>
            <td>검수일자</td>
            <!--<td>검수수량</td>-->
            <!--<td>남은 검수수량</td>-->
            <td>계획 등록</td>
        </tr>
        <tr>
            <td th:text="${progress == null} ? '1차' : ${progress.progressCount + 1 } +'차'"></td>
            <td><input id="progressDate" name="progressDate" class="form-control form-control-sm" type="date" onchange="return progressDateCheck()" required></td>
            <td><button th:if="${orders != null && remaining != 0}" id="btn3" type="button" class="btn btn-sm btn-success" onclick="return saveProgress()">등록</button></td>
        </tr>
        </tbody>
    </table>
    <!--<div th:if="${orders != null && remaining != 0}" style="float: right; margin: 5px 0px 5px 0;">
        <button type="button" class="btn btn-sm btn-success" onclick="return saveProgress()">저장</button>
    </div>-->
</div>